.page-header
    %h1 Demo components
    .fa.fa-camera-retro.fa-5x

.page-header
    %h2 Navigation

%ul.nav.nav-tabs
    %li.active= link_to "Link 1", "/"
    %li= link_to "Link 2", "/"
    %li= link_to "Link 3", "/"

.page-header
    %h2 Buttons
%p
    %button.btn.btn-s.btn-default{type: "button"} Default
    %button.btn.btn-s.btn-primary{type: "button"} Primary
    %button.btn.btn-s.btn-success{type: "button"} Success
    %button.btn.btn-s.btn-info{type: "button"} Info
    %button.btn.btn-s.btn-warning{type: "button"} Warning
    %button.btn.btn-s.btn-danger{type: "button"} Danger
    %button.btn.btn-s.btn-link{type: "button"} Link

%p
    %button.btn.btn-xs.btn-default{type: "button"} Default
    %button.btn.btn-xs.btn-primary{type: "button"} Primary
    %button.btn.btn-xs.btn-success{type: "button"} Success
    %button.btn.btn-xs.btn-info{type: "button"} Info
    %button.btn.btn-xs.btn-warning{type: "button"} Warning
    %button.btn.btn-xs.btn-danger{type: "button"} Danger
    %button.btn.btn-xs.btn-link{type: "button"} Link

.page-header
    %h2
        Column layout
        %small
            Mobile, tablet and desktop

.row
    .col-xs-12.col-sm-6.col-lg-8 .col-xs-12 .col-sm-6 .col-lg-8
    .col-xs-6.col-lg-4 .col-xs-6 .col-lg-4
.row
    .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
    .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4
    .col-xs-6.col-sm-4 .col-xs-6 .col-sm-4


.page-header
    %h2 Thumbnails

.bs-example
    .row
        .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: "#"}
                %img{alt: "Generic placeholder thumbnail", "src" => "http://placehold.it/350x150"}/
        .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: "#"}
                %img{alt: "Generic placeholder thumbnail", "src" => "http://placehold.it/450x150"}/
        .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: "#"}
                %img{alt: "Generic placeholder thumbnail", "src" => "http://placehold.it/350x150"}/
        .col-xs-12.col-sm-6.col-md-3
            %a.thumbnail{href: "#"}
                %img{alt: "Generic placeholder thumbnail", "src" => "http://placehold.it/450x150"}/


.page-header
    %h2 Text
.well
    .input-group
        %span.input-group-addon @
        %input.form-control{placeholder: "Username", type: "text"}/
    .input-group
        %input.form-control{type: "text"}/
        %span.input-group-addon .00
    .input-group
        %span.input-group-addon $
        %input.form-control{type: "text"}/
        %span.input-group-addon .00

.well
    %form.navbar-search.pull-left
    %input.search-query{placeholder: "Search", type: "text"}/
